body {
  font-family: sans-serif;
}

.flex {
  display: flex;
  justify-content: center;
}

.inline {
  display: flex;
  align-items: center;
  justify-content: center;
}

svg {
  display: block;
}

#main {
  background-color: #dbeacb;
  margin-bottom: 16px;
}

.county {
  stroke: #ffffff;
}

.formDiv {
  position: relative;
  display: inline-block;
  vertical-align: top;
}

h1 {
  font-weight: 100;
  font-size: 25px;
  text-align: center;
  padding-top: 20px;
}

h3 {
  margin-left: 10px;
}

input {
  margin-left: 10px;
}

p {
  margin-left: 10px;
}

.form-field,
.form-button {
  padding: 10px 5px;
  margin: 19px 15px;
  border: 1px solid black;
  width: 280px;
}

.form-field:first-child {
  margin-top: 0px;
}

.form-field:last-child {
  margin-bottom: 0px;
}

.form-field h3 {
  margin: 0px 10px;
  font-size: 15px;
}

.form-field p {
  margin: 3px 10px;
  font-size: 14px;
}

.form-field label {
  font-size: 14px;
}

.form-field .checkbox {
  margin: 3px 0px;
}

.form-field .range {
  display: flex;
  justify-content: space-between;
  padding: 0px 10px;
}

.form-field input[type=text] {
  width: 120px;
  padding: 5px 5px;
  margin: 0px;
  box-sizing: border-box;
}

.form-button {
  display: flex;
  border: 0px;
  padding: 0px;
  justify-content: space-between;
  width: 300px;
}

#button,
#reset-button {
  background-color: #fd3a5d;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 15px;
  margin: 0px;
  padding: 15px 33px;
}

#button:hover {
  background-color: #dd3453;
}

#reset-button {
  background-color: #58aaca;
}

#reset-button:hover {
  background-color: rgb(55, 123, 129);
}

.no-border {
  border: 0px;
}

.infobox {
  padding: 10px;
  padding-bottom: 20px;
  margin: 15px;
  border: 1px solid black;
  width: 300px;
  position: absolute;
  bottom: 0px;
  background-color: rgba(255, 255, 255, 0.8);
  justify-content: center;
  margin-bottom: 31px;
}

#salesamount {
  font-size: 25px;
  font-weight: 600;
  color: #fd3a5d;
  margin: 0px;
  padding: 0px;
}

#address {
  color: gray;
  margin: 0px;

}

.info {
  margin: 10px 0px 0px 10px;
  padding: 0px;
}

.price {
  vertical-align: middle;

}

.info2 {
  margin: 12px 0px 0px 10px;
  padding: 0px;

}

.for {
  font-size: 10pt;
  color: gray;

}

.rentamount {
  color: bla
}

#bedroom,
#bathroom,
#lotsize,
#roomnum {
  margin-right: 15px;
}

.container {
  position: relative;
  display: inline-block;
}